In [161]:
import sqlalchemy as db

In [162]:
db.__version__

'2.0.27'

In [163]:
engine = db.create_engine('sqlite:///test_db.db')

In [164]:
conn = engine.connect()

In [165]:
metadata = db.MetaData()

In [166]:
dir(db)

['ARRAY',
 'AdaptedConnection',
 'Alias',
 'AliasedReturnsRows',
 'Any',
 'AssertionPool',
 'AsyncAdaptedQueuePool',
 'BIGINT',
 'BINARY',
 'BLANK_SCHEMA',
 'BLOB',
 'BOOLEAN',
 'BaseDDLElement',
 'BaseRow',
 'BigInteger',
 'BinaryExpression',
 'BindParameter',
 'BindTyping',
 'Boolean',
 'BooleanClauseList',
 'CHAR',
 'CLOB',
 'CTE',
 'CacheKey',
 'Case',
 'Cast',
 'CheckConstraint',
 'ChunkedIteratorResult',
 'ClauseElement',
 'ClauseList',
 'CollectionAggregate',
 'Column',
 'ColumnClause',
 'ColumnCollection',
 'ColumnDefault',
 'ColumnElement',
 'ColumnExpressionArgument',
 'ColumnOperators',
 'Compiled',
 'CompoundSelect',
 'Computed',
 'Connection',
 'Constraint',
 'CreateEnginePlugin',
 'CursorResult',
 'DATE',
 'DATETIME',
 'DDL',
 'DDLElement',
 'DECIMAL',
 'DOUBLE',
 'DOUBLE_PRECISION',
 'Date',
 'DateTime',
 'DefaultClause',
 'Delete',
 'Dialect',
 'Double',
 'Engine',
 'Enum',
 'ExceptionContext',
 'Executable',
 'ExecutableDDLElement',
 'ExecutionContext',
 'Exists',
 'Extract',
 'FLOAT',
 'FallbackAsyncAdaptedQueuePool',
 'False_',
 'FetchedValue',
 'Float',
 'ForeignKey',
 'ForeignKeyConstraint',
 'FromClause',
 'FromGrouping',
 'FrozenResult',
 'Function',
 'FunctionElement',
 'FunctionFilter',
 'GenerativeSelect',
 'Grouping',
 'HasCTE',
 'HasPrefixes',
 'HasSuffixes',
 'INT',
 'INTEGER',
 'Identity',
 'Index',
 'Insert',
 'Inspector',
 'Integer',
 'Interval',
 'IteratorResult',
 'JSON',
 'Join',
 'LABEL_STYLE_DEFAULT',
 'LABEL_STYLE_DISAMBIGUATE_ONLY',
 'LABEL_STYLE_NONE',
 'LABEL_STYLE_TABLENAME_PLUS_COL',
 'Label',
 'LambdaElement',
 'LargeBinary',
 'Lateral',
 'MappingResult',
 'MergedResult',
 'MetaData',
 'NCHAR',
 'NUMERIC',
 'NVARCHAR',
 'NestedTransaction',
 'NotNullable',
 'Null',
 'NullPool',
 'Nullable',
 'Numeric',
 'Operators',
 'Over',
 'PickleType',
 'Pool',
 'PoolProxiedConnection',
 'PoolResetState',
 'PrimaryKeyConstraint',
 'QueuePool',
 'REAL',
 'ReleaseSavepointClause',
 'Result',
 'ResultProxy',
 'ReturnsRows',
 'RollbackToSavepointClause',
 'RootTransaction',
 'Row',
 'RowMapping',
 'SMALLINT',
 'SQLColumnExpression',
 'SavepointClause',
 'ScalarResult',
 'ScalarSelect',
 'Select',
 'SelectBase',
 'SelectLabelStyle',
 'Selectable',
 'Sequence',
 'SingletonThreadPool',
 'SmallInteger',
 'StatementLambdaElement',
 'StaticPool',
 'String',
 'Subquery',
 'TEXT',
 'TIME',
 'TIMESTAMP',
 'Table',
 'TableClause',
 'TableSample',
 'TableValuedAlias',
 'Text',
 'TextAsFrom',
 'TextClause',
 'TextualSelect',
 'Time',
 'Transaction',
 'True_',
 'TryCast',
 'Tuple',
 'TupleType',
 'TwoPhaseTransaction',
 'TypeClause',
 'TypeCoerce',
 'TypeCompiler',
 'TypeDecorator',
 'URL',
 'UUID',
 'UnaryExpression',
 'Unicode',
 'UnicodeText',
 'UniqueConstraint',
 'Update',
 'UpdateBase',
 'Uuid',
 'VARBINARY',
 'VARCHAR',
 'Values',
 'ValuesBase',
 'Visitable',
 'WithinGroup',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__go',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_util',
 'alias',
 'all_',
 'and_',
 'annotations',
 'any_',
 'asc',
 'between',
 'bindparam',
 'bitwise_not',
 'case',
 'cast',
 'collate',
 'column',
 'create_engine',
 'create_mock_engine',
 'create_pool_from_url',
 'cte',
 'custom_op',
 'cyextension',
 'delete',
 'desc',
 'dialects',
 'distinct',
 'engine',
 'engine_from_config',
 'event',
 'exc',
 'except_',
 'except_all',
 'exists',
 'extract',
 'false',
 'func',
 'funcfilter',
 'insert',
 'insert_sentinel',
 'inspect',
 'inspection',
 'intersect',
 'intersect_all',
 'join',
 'label',
 'lambda_stmt',
 'lateral',
 'literal',
 'literal_column',
 'log',
 'make_url',
 'modifier',
 'not_',
 'null',
 'nulls_first',
 'nulls_last',
 'nullsfirst',
 'nullslast',
 'or_',
 'outerjoin',
 'outparam',
 'over',
 'pool',
 'quoted_name',
 'result_tuple',
 'schema',
 'select',
 'sql',
 'table',
 'tablesample',
 'text',
 'true',
 'try_cast',
 'tuple_',
 'type_coerce',
 'types',
 'union',
 'union_all',
 'update',
 'util',
 'values',
 'within_group']

In [167]:
deposits = db.Table(
    'Deposit', metadata,
    db.Column('id_crt', db.Integer, primary_key = True),
    db.Column('id_clnt', db.Integer),
    db.Column('id_currency', db.Integer),
    db.Column('cur_perc', db.Integer),
    db.Column('rest_od', db.Integer),
    db.Column('rest_od_eq', db.Integer),    
    db.Column('id_prod', db.Integer),
    db.Column('id_cbu', db.Integer),
    )

In [168]:
currency = db.Table(
    'Currency', metadata,
    db.Column('id_currency', db.Integer),
    db.Column('number_curr', db.Integer),
    )

In [169]:
clients = db.Table(
    'Client', metadata,
    db.Column('id_clnt', db.Integer),
    db.Column('clnt_internal_num', db.Integer),
    db.Column('name', db.Text),
    db.Column('adress', db.Text),
    db.Column('reg_number', db.Integer),
)

In [170]:
loans = db.Table(
    'Loan', metadata,
    db.Column('id_crt', db.Integer),
    db.Column('id_clnt', db.Integer),
    db.Column('id_curr', db.Integer),
    db.Column('type_loan', db.Text),
    db.Column('cur_percent', db.Integer),
    db.Column('rest_od', db.Integer),
    db.Column('rest_od_eq', db.Integer)    
)

In [171]:
metadata.create_all(engine)

currency code 4 - 933
currency code 3 - 840 - 3.2179
currency code 2 - 978 - 3.492 
currency code 1 - 643 - 0,035417

In [172]:
insertion_1 = deposits.insert().values([
    {'id_clnt': 2, 'id_currency': 4, 'cur_perc': 2, 'rest_od': 1200, 'rest_od_eq': 1200, 'id_prod': 1, 'id_cbu': 3},
    {'id_clnt': 3, 'id_currency': 2, 'cur_perc': 1, 'rest_od': 100, 'rest_od_eq': 349.2, 'id_prod': 2, 'id_cbu': 2},
    {'id_clnt': 1, 'id_currency': 4, 'cur_perc': 7, 'rest_od': 240, 'rest_od_eq': 240, 'id_prod': 3, 'id_cbu': 1},
    {'id_clnt': 4, 'id_currency': 3, 'cur_perc': 15, 'rest_od': 1000, 'rest_od_eq': 3492, 'id_prod': 4, 'id_cbu': 3}
])

In [173]:
insertion_2 = currency.insert().values([
    {'number_curr': 643},
    {'number_curr': 978},
    {'number_curr': 840},
    {'number_curr': 933}
])

In [174]:
insertion_3 = clients.insert().values([
    {'clnt_internal_num': 15432, 'name': 'ООО Ромашка', 'adress': 'г. Минск, ул. Кислева 31', 'reg_number': 75632},
    {'clnt_internal_num': 2746, 'name': 'ОАО Пекин', 'adress': 'г. Минск, ул. Кислева 31', 'reg_number': 75632},
    {'clnt_internal_num': 743, 'name': 'ЗАО Плюшевый медведь', 'adress': 'г. Минск, ул. Кислева 31', 'reg_number': 75632},
    {'clnt_internal_num': 40684, 'name': 'ОАО Тюльпан', 'adress': 'г. Минск, ул. Кислева 31', 'reg_number': 75632},
])

In [175]:
insertion_4 = loans.insert().values([
    {'id_clnt': 3, 'id_curr': 4, 'type_loan': 'Возобновляемая кредитная линия', 'cur_percent': 10, 'rest_od': 1000, 'rest_od_eq': 1000},
    {'id_clnt': 2, 'id_curr': 3, 'type_loan': 'Возобновляемая кредитная линия', 'cur_percent': 10, 'rest_od': 1000, 'rest_od_eq': 3217.9},
    {'id_clnt': 4, 'id_curr': 2, 'type_loan': 'Возобновляемая кредитная линия', 'cur_percent': 10, 'rest_od': 1000, 'rest_od_eq': 3492},
    {'id_clnt': 1, 'id_curr': 4, 'type_loan': 'Возобновляемая кредитная линия', 'cur_percent': 10, 'rest_od': 12000, 'rest_od_eq': 12000},
])

In [176]:
conn.execute(insertion_1)
conn.execute(insertion_2)
conn.execute(insertion_3)
conn.execute(insertion_4)

In [177]:
select_all_query = db.select(deposits)
select_result = conn.execute(select_all_query)
select_result

In [178]:
select_result.fetchall()

[(1, 2, 4, 2, 1200, 1200, 1, 3),
 (2, 3, 2, 1, 100, 349.2, 2, 2),
 (3, 1, 4, 7, 240, 240, 3, 1),
 (4, 4, 3, 15, 1000, 3492, 4, 3)]