In [34]:
import sqlalchemy as db
from sqlalchemy.orm import Session, sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import literal_column

import warnings
warnings.filterwarnings('ignore')

In [2]:
db.__version__

'2.0.27'

In [3]:
engine = db.create_engine('sqlite:///test_db.db')

In [4]:
conn = engine.connect()

In [5]:
metadata = db.MetaData()

In [6]:
deposits = db.Table(
    'Deposit', metadata,
    db.Column('id_crt', db.Integer, primary_key = True),
    db.Column('id_clnt', db.Integer),
    db.Column('id_currency', db.Integer),
    db.Column('cur_perc', db.Integer),
    db.Column('rest_od', db.Integer),
    db.Column('rest_od_eq', db.Integer),    
    db.Column('id_prod', db.Integer),
    db.Column('id_cbu', db.Integer),
    )

currency = db.Table(
    'Currency', metadata,
    db.Column('id_currency', db.Integer, primary_key = True),
    db.Column('number_curr', db.Integer),
    )

clients = db.Table(
    'Client', metadata,
    db.Column('id_clnt', db.Integer, primary_key = True),
    db.Column('clnt_internal_num', db.Integer),
    db.Column('name', db.Text),
    db.Column('adress', db.Text),
    db.Column('reg_number', db.Integer),
    )

loans = db.Table(
    'Loan', metadata,
    db.Column('id_crt', db.Integer, primary_key = True),
    db.Column('id_clnt', db.Integer),
    db.Column('id_currency', db.Integer),
    db.Column('cur_percent', db.Integer),
    db.Column('rest_od', db.Integer),
    db.Column('rest_od_eq', db.Integer), 
    db.Column('id_prod', db.Integer),
    db.Column('id_cbu', db.Integer)
    )

In [7]:
metadata.create_all(engine)

currency code 4 - 933
currency code 3 - 840 - 3.2179
currency code 2 - 978 - 3.492 
currency code 1 - 643 - 0,035417

In [8]:
insertion_1 = deposits.insert().values([
    {'id_clnt': 2, 'id_currency': 4, 'cur_perc': 2, 'rest_od': 1200, 'rest_od_eq': 1200, 'id_prod': 1, 'id_cbu': 3},
    {'id_clnt': 3, 'id_currency': 2, 'cur_perc': 1, 'rest_od': 100, 'rest_od_eq': 349.2, 'id_prod': 2, 'id_cbu': 2},
    {'id_clnt': 1, 'id_currency': 4, 'cur_perc': 7, 'rest_od': 240, 'rest_od_eq': 240, 'id_prod': 3, 'id_cbu': 1},
    {'id_clnt': 4, 'id_currency': 3, 'cur_perc': 15, 'rest_od': 1000, 'rest_od_eq': 3492, 'id_prod': 4, 'id_cbu': 3}
])

In [9]:
conn.execute(insertion_1)

In [10]:
insertion_2 = currency.insert().values([
    {'number_curr': 643},
    {'number_curr': 978},
    {'number_curr': 840},
    {'number_curr': 933}
])

In [11]:
conn.execute(insertion_2)

In [12]:
insertion_3 = clients.insert().values([
    {'clnt_internal_num': 15432, 'name': 'ООО Ромашка', 'adress': 'г. Минск, ул. Кислева 31', 'reg_number': 75632},
    {'clnt_internal_num': 2746, 'name': 'ОАО Пекин', 'adress': 'г. Минск, ул. Калинина 53', 'reg_number': 5474},
    {'clnt_internal_num': 743, 'name': 'ЗАО Плюшевый медведь', 'adress': 'г. Минск, ул. Хабаровская 91', 'reg_number': 59483},
    {'clnt_internal_num': 40684, 'name': 'ОАО Тюльпан', 'adress': 'г. Минск, ул. Щукина 78', 'reg_number': 12749},
])

In [13]:
conn.execute(insertion_3)

In [14]:
insertion_4 = loans.insert().values([
    {'id_clnt': 3, 'id_currency': 4, 'cur_percent': 6, 'rest_od': 1000, 'rest_od_eq': 1000, 'id_prod': 1, 'id_cbu': 3},
    {'id_clnt': 2, 'id_currency': 3, 'cur_percent': 10, 'rest_od': 1000, 'rest_od_eq': 3217.9, 'id_prod': 2, 'id_cbu': 3},
    {'id_clnt': 4, 'id_currency': 2, 'cur_percent': 5, 'rest_od': 1000, 'rest_od_eq': 3492, 'id_prod': 3, 'id_cbu': 1},
    {'id_clnt': 4, 'id_currency': 4, 'cur_percent': 15, 'rest_od': 12000, 'rest_od_eq': 12000, 'id_prod': 1, 'id_cbu': 2},
    {'id_clnt': 1, 'id_currency': 4, 'cur_percent': 15, 'rest_od': 1000, 'rest_od_eq': 1000, 'id_prod': 2, 'id_cbu': 1},
    {'id_clnt': 3, 'id_currency': 4, 'cur_percent': 15, 'rest_od': 1000, 'rest_od_eq': 1000, 'id_prod': 2, 'id_cbu': 2},
    {'id_clnt': 2, 'id_currency': 4, 'cur_percent': 15, 'rest_od': 1000, 'rest_od_eq': 1000, 'id_prod': 1, 'id_cbu': 3},   
    {'id_clnt': 5, 'id_currency': 4, 'cur_percent': 15, 'rest_od': 1000, 'rest_od_eq': 1000, 'id_prod': 1, 'id_cbu': 3},           
])

In [15]:
conn.execute(insertion_4)

In [16]:
select_all_query = db.select(loans)
select_result = conn.execute(select_all_query)
select_result

In [17]:
select_result.fetchall()

[(1, 3, 4, 6, 1000, 1000, 1, 3),
 (2, 2, 3, 10, 1000, 3217.9, 2, 3),
 (3, 4, 2, 5, 1000, 3492, 3, 1),
 (4, 4, 4, 15, 12000, 12000, 1, 2),
 (5, 1, 4, 15, 1000, 1000, 2, 1),
 (6, 3, 4, 15, 1000, 1000, 2, 2),
 (7, 2, 4, 15, 1000, 1000, 1, 3),
 (8, 5, 4, 15, 1000, 1000, 1, 3)]

In [27]:
left_join = db.select(deposits.c.id_currency, currency.c.number_curr).where(deposits.c.id_currency == currency.c.id_currency)
result = conn.execute(left_join)

for row in result:
    print(row)

(4, 933)
(2, 978)
(4, 933)
(3, 840)

In [19]:
Session = sessionmaker()
session = Session(bind = conn)

Base = declarative_base()

/var/folders/wm/yj20p_cn5cd7_yb59k7dzks40000gn/T/ipykernel_3320/1907618450.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [20]:
inner_join = session.query(loans, clients).join(clients, loans.c.id_clnt == clients.c.id_clnt).all()
inner_join

[(1, 3, 4, 6, 1000, 1000, 1, 3, 3, 743, 'ЗАО Плюшевый медведь', 'г. Минск, ул. Хабаровская 91', 59483),
 (2, 2, 3, 10, 1000, 3217.9, 2, 3, 2, 2746, 'ОАО Пекин', 'г. Минск, ул. Калинина 53', 5474),
 (3, 4, 2, 5, 1000, 3492, 3, 1, 4, 40684, 'ОАО Тюльпан', 'г. Минск, ул. Щукина 78', 12749),
 (4, 4, 4, 15, 12000, 12000, 1, 2, 4, 40684, 'ОАО Тюльпан', 'г. Минск, ул. Щукина 78', 12749),
 (5, 1, 4, 15, 1000, 1000, 2, 1, 1, 15432, 'ООО Ромашка', 'г. Минск, ул. Кислева 31', 75632),
 (6, 3, 4, 15, 1000, 1000, 2, 2, 3, 743, 'ЗАО Плюшевый медведь', 'г. Минск, ул. Хабаровская 91', 59483),
 (7, 2, 4, 15, 1000, 1000, 1, 3, 2, 2746, 'ОАО Пекин', 'г. Минск, ул. Калинина 53', 5474)]

In [21]:
having_query = session.query(deposits.c.id_clnt, db.func.sum(deposits.c.rest_od_eq).label('total_rest_od_eq')).\
                group_by(deposits.c.id_clnt).\
                having(literal_column('total_rest_od_eq') > 1000).\
                all()

having_query

[(2, 1200), (4, 3492)]

In [22]:
union_1 = db.select(loans).where(loans.c.id_clnt == 1)
union_2 = db.select(loans).where(loans.c.id_clnt == 4)

q = union_1.union(union_2).alias('union_query')
u = session.query(q).all()
u

[(3, 4, 2, 5, 1000, 3492, 3, 1),
 (4, 4, 4, 15, 12000, 12000, 1, 2),
 (5, 1, 4, 15, 1000, 1000, 2, 1)]

In [45]:
subquery = session.query(currency.c.id_currency).where(currency.c.id_currency == 4).subquery()
query = session.query(loans).filter(loans.c.id_currency == subquery).all()
query

[(1, 3, 4, 6, 1000, 1000, 1, 3),
 (4, 4, 4, 15, 12000, 12000, 1, 2),
 (5, 1, 4, 15, 1000, 1000, 2, 1),
 (6, 3, 4, 15, 1000, 1000, 2, 2),
 (7, 2, 4, 15, 1000, 1000, 1, 3),
 (8, 5, 4, 15, 1000, 1000, 1, 3)]